
$imago-field-padding: 1.25em 0.75em 0.5em 0.75em !default
$imago-field-border-radius: 2px !default
$imago-field-label-color: darken(white, 50%)!default
$imago-field-border-color: darken(white, 30%)!default
$imago-field-border-color-invalid: rgba(red, 1) !default
$imago-field-border-width-invalid: 2px!default
$imago-field-border-color-focus: rgba(74,185,255, 0.5) !default
$imago-field-background-color: darken(white, 1%) !default
$imago-field-box-shadow: none !default
$imago-field-letter-spacing: 0.05em !default


$imago-field-background-color-readonly: #eee
$imago-field-color-readonly: #777


@import ./fields_input
@import ./fields_select
@import ./fields_checkbox
@import ./fields_radio
@import ./fields_textarea
@import ./fields_number
@import ./fields_currency
@import ./fields_creditcard



.field-border-style
  border-top:    1px solid darken(white, 8%)
  border-right:  1px solid darken(white, 5%)
  border-bottom: 1px solid darken(white, 5%)
  border-left:   2px solid darken(white, 5%)


.fieldBgStyle
  background: linear-gradient(to bottom, #eee, #fff) no-repeat

.field-font-style
  font-size: inherit
  font-family: inherit

.imago-field
  position: relative
  padding: 0
  width: 100%
  text-align: left
  line-height: normal


  label
    padding: 0 0.3em
    position: absolute
    top: 6px
    left: 10px
    right: 10px
    font-size: 0.6rem
    text-transform: uppercase
    z-index: 2


  fieldset
    margin: 0
    padding: 0.35em 0 0.75em
    border: 0
  legend
    display: block
    width: 100%
    padding: 0.3em 0
    margin-bottom: 0.3em
    color: #333
    border-bottom: 1px solid #e5e5e5

  input,textarea
    font-weight: inherit
    font-family: inherit


input
  &.ng-invalid-card:not(:focus)
    // background: rgba(255, 0, 0, 0.1) !important
    border-left: 1px solid darken(red,5%)

