.imago-flex-column
  display: flex
  flex-direction: column
  flex: 1 1 0%
  display: flex
  flex-wrap: wrap

.imago-flex-row
  display: flex
  flex-direction: row
  flex: 1 1 0%
  flex-wrap: wrap

.imago-flex-column,
.imago-flex-row
  &.center
    align-items: center
    justify-content: center
  &.space-around
    align-content: space-around
  &.space-between
    align-content: space-between
  &.nowrap
    flex-wrap: nowrap


.imago-flex
  flex: 1 0 auto

.imago-flex-25
  flex: 1 1 25%

.imago-flex-30
  flex: 1 1 30%

.imago-flex-33
  flex: 1 1 33%

.imago-flex-50
  flex: 1 1 50%

.imago-flex-66
  flex: 1 1 66%

.imago-flex-70
  flex: 1 1 70%

.imago-flex-75
  flex: 1 1 75%

.imago-flex-100
  flex: 1 1 100%

.card,
.card-small
  padding: 2em 0 1em
  .imago-field
    margin-bottom: 0
  .btn-toggle
    margin-bottom: 1em

.card-small
  padding: 1em 0 .5em

.card-xsmall
  padding: .5em 0 .25em

// debug
// .imago-flex-column
//   border: 5px solid red

// .imago-flex-row
//   border: 5px solid green

// .imago-flex-25
//   border: 1px dotted black

// .imago-flex-33
//   border: 1px dotted black

// .imago-flex-50
//   border: 1px dotted black

// .imago-flex-66
//   border: 1px dotted black

// .imago-flex-75
//   border: 1px dotted black

// .imago-flex-100
//   border: 1px dotted black

