


imago-main,
imago-image,
imago-video,
imago-slider
  display: block

.imago-image-content
  position: relative
  overflow: hidden
  box-sizing: border-box

  pre
    position: absolute
    top:  50%
    left: 50%
    transform: translate(-50%, -50%)
    background: white
    padding: 0
    font-size: .75em
    line-height: 1.6em

  .prevent-drag
    +pos()

  // initially set images
  img
    position: absolute
    padding: 0
    margin: 0
    line-height: 0
    &.small
      opacity: 1
    &.large
      opacity: 0
      transition: opacity .75s

  // hide small 3px image disabled. we still need it for sizing though
  &.noplaceholder
    img.small
      visibility: hidden


  // fit

  &.fit.height img
    height: 100%
  &.fit.width img
    width: 100%

  // autoheight
  &.fit.autoheight
    line-height: 0
    .spacer
      display: none
    img
      position: relative
      left: initial
      right: initial
      bottom: initial
      top: initial
      transform: none
      height: 100%
      // min-width: 0px
      // opacity: 1
      width: auto

  // autoheight
  &.fit.autowidth
    img
      position: absolute
      // transform: none
      width: 100%

  &.crop.height img
    height: 100%
    max-width: initial
  &.crop.width img
    width: 100%
    max-height: initial

  &.loaded
    img
      border: 0
    img.large
      opacity: 1
    img.small
      opacity: 0
      position: absolute

  &.center img
    left: 50%
    right: initial
    top:  50%
    bottom: initial
    transform: translateX(-50%) translateY(-50%)

  &.left.center img
    top:  50%
    right: initial
    left: 0
    bottom: initial
    transform: translateX(0%) translateY(-50%)
  &.right.center img
    top:  50%
    right: 0
    left: initial
    bottom: initial
    transform: translateX(0%) translateY(-50%)


  &.left.top img
    top: 0
    right: initial
    bottom: initial
    left: 0
    transform: translateX(0%) translateY(0%)
  &.center.top img
    top: 0
    right: initial
    bottom: initial
    left: 50%
    transform: translateX(-50%) translateY(0%)
  &.right.top img
    top: 0
    right: 0
    bottom: initial
    left: initial
    transform: translateX(0%) translateY(0%)

  &.left.bottom img
    top: initial
    right: initial
    bottom: 0
    left: 0
    transform: translateX(0%) translateY(0%)
  &.center.bottom img
    top: initial
    right: initial
    bottom: 0
    left: 50%
    transform: translateX(-50%) translateY(0%)
  &.right.bottom img
    top: initial
    right: 0
    bottom: 0
    left: initial
    transform: translateX(0%) translateY(0%)



// video

.imago-video-content
  display: block
  position: relative
  overflow: hidden
  .spacer
    // width: 1px
    // background: red

  videogular, [videogular]
    background: none
    line-height: 0

  &.fit:not(.autoheight):not(.autowidth)
    .imago-video-wrapper
      videogular, [videogular]
        position: absolute
        top:    initial
        right:  initial
        bottom: initial
        left:   initial
        width:  auto
        height: auto
        vg-overlay-play
          left: 0

        vg-media,
        vg-poster
          img,video
            max-width:  initial
            max-height: initial


    &.height .imago-video-wrapper
      width:  auto
      videogular, [videogular]
        height: 100%
        width:  auto
        vg-media,
        vg-poster
          img,video
            width:  auto
            height: 100%
            min-width:  initial
            min-height: initial
            max-width:  initial
            max-height: initial

    &.width .imago-video-wrapper
      videogular, [videogular]
        width: 100%
        vg-media,
        vg-poster
          img,video
            width: 100%

    &.top .imago-video-wrapper
      videogular, [videogular]
        top: 0

    &.right .imago-video-wrapper
      videogular, [videogular]
        right: 0

    &.right .imago-video-wrapper
      videogular, [videogular]
        right: 0

    &.bottom .imago-video-wrapper
      videogular, [videogular]
        bottom: 0


    &.center .imago-video-wrapper
      videogular, [videogular]
        top: 50%
        left: 50%
        transform: translateX(-50%) translateY(-50%)

    &.top.center .imago-video-wrapper
      videogular, [videogular]
        top: 0
        left: 50%
        transform: translateX(-50%)

    &.right.center .imago-video-wrapper
      videogular, [videogular]
        right: 0
        top: 50%
        left: initial
        transform: translateY(-50%)

    &.bottom.center .imago-video-wrapper
      videogular, [videogular]
        bottom: 0
        top: initial
        left: 50%
        transform: translateX(-50%)

    &.left.center .imago-video-wrapper
      videogular, [videogular]
        left: 0
        top: 50%
        transform: translateY(-50%)


  &.crop:not(.autoheight):not(.autowidth)
    .imago-video-wrapper
      videogular, [videogular]
        position: absolute
        left: 0
        top: 0
        width:  100%
        height: 100%
        vg-overlay-play
          left: 0
        vg-media,
        vg-poster
          img,video
            width:  auto
            height: auto
            min-width:  initial
            min-height: initial
            max-width:  initial
            max-height: initial
            position: absolute
            left: initial
            top:  initial
            right: initial
            bottom: initial

    &.width .imago-video-wrapper
      videogular, [videogular]
        vg-media,
        vg-poster
          img,video
            width: 100%

    &.height .imago-video-wrapper
      videogular, [videogular]
        vg-media,
        vg-poster
          img,video
            height: 100%

    &.center .imago-video-wrapper
      videogular, [videogular]
        vg-media,
        vg-poster
          img,video
            left: 50%
            top:  50%
            transform: translateX(-50%) translateY(-50%)

    &.left .imago-video-wrapper
      videogular, [videogular]
        vg-media,
        vg-poster
          img,video
            left: 0

    &.top .imago-video-wrapper
      videogular, [videogular]
        vg-media,
        vg-poster
          img,video
            top:  0

    &.right .imago-video-wrapper
      videogular, [videogular]
        vg-media,
        vg-poster
          img,video
            right:  0

    &.bottom .imago-video-wrapper
      videogular, [videogular]
        vg-media,
        vg-poster
          img,video
            bottom: 0


    &.center.left .imago-video-wrapper
      videogular, [videogular]
        vg-media,
        vg-poster
          img,video
            top:    50%
            right:  initial
            bottom: initial
            left:   0
            transform: translateY(-50%)

    &.center.top .imago-video-wrapper
      videogular, [videogular]
        vg-media,
        vg-poster
          img,video
            top:    0
            right:  initial
            bottom: initial
            left:   50%
            transform: translateX(-50%)

    &.center.right .imago-video-wrapper
      videogular, [videogular]
        vg-media,
        vg-poster
          img,video
            top:    50%
            right:  0
            bottom: initial
            left:   initial
            transform: translateY(-50%)

    &.center.bottom .imago-video-wrapper
      videogular, [videogular]
        vg-media,
        vg-poster
          img,video
            top:    initial
            right:  initial
            bottom: 0
            left:   50%
            transform: translateX(-50%)

  &.autoheight
    .imago-video-wrapper
      height: 100%
      // border: 1px solid red

      .spacer
        display: none
      videogular, [videogular]
        // border: 1px solid red
        position: relative
        left: 0
        top: 0
        width:  auto
        height: 100%
        vg-overlay-play
          +pos()
          // border: 1px solid red

        vg-media
          +pos()
        vg-poster
          position: static
          width:  auto
          height: 100%
          // border: 1px solid red
          min-width:  initial
          max-width:  initial
          img
            position: relative
            width:  initial
            height: 100%
            min-width:  initial
            min-height: 100%
            max-width:  initial
            max-height: 100%
            // transition: opacity .5s
            &.play,
            &.pause
              display: block
            &.play,
            &.pause
              opacity: 0

  &.autowidth
    .imago-video-wrapper
      videogular, [videogular]
        +pos()
        vg-overlay-play
          +pos()
        vg-poster
          img
            width: 100%

.inline-block
  display: inline-block

// pixel values
@for $i from 0 to 200
  .w#{$i}0px
    width: #{$i}0px
    @extend .inline-block
  .h#{$i}0px
    height: #{$i}0px
    @extend .inline-block

// percentage
@for $i from 0 to 101
  .w#{$i}
    width: $i * 1%


.browserwarning,
.maintenance
  margin: 0 auto
  text-align: center
  padding-top: 200px
  a
    text-decoration: underline


ol, ul
  list-style: none
  padding: 0
  margin: 0