.imago-field
  input(
    type="file"
    name="receipt"
    id="receipt"
    sizeerror="sizeerror"
    required
    )
  label(for="receipt" ng-if="!filename") {{label}} (max {{maxFileSize}}mb)
  label(for="receipt" ng-if="filename") Selected File: {{filename}}

  .error(ng-show="sizeerror") Image File to large