.imago-image-content(
  ng-class="[{'loaded': $ctrl.loaded}, $ctrl.opts.align, $ctrl.opts.sizemode, $ctrl.mainSide, {'noplaceholder': !$ctrl.opts.placeholder}]"
  in-view="$ctrl.inview($inview, $inviewpart)"
  in-view-options="{debounce: 300, offsetTop: -100, offsetBottom: 100}"
  )
  .spacer(ng-style="::$ctrl.spacerStyle")

  img.small(ng-src="{{::$ctrl.placeholderUrl}}")
  img.large(ng-src="{{$ctrl.imgUrl}}")

  .prevent-drag(ng-if="!$ctrl.opts.allowDrag")

  //- pre {{$ctrl.visible|json}}
  //- pre
  //-   | {{$ctrl.opts.sizemode}} {{$ctrl.opts.align}}
  //-   br
  //-   | {{$ctrl.loaded}} {{$ctrl.width}} x {{$ctrl.height}} {{$ctrl.servingSize}}
  //-   br
  //-   | mainSide {{$ctrl.mainSide}}
