.imago-image-content(
  ng-class="[{'loaded': imagoimage.loaded}, imagoimage.opts.align, imagoimage.opts.sizemode, imagoimage.mainSide, {'noplaceholder': !imagoimage.opts.placeholder}]"
  in-view="imagoimage.visible = $inview"
  in-view-remove="imagoimage.removeInView"
  in-view-options="{debounce: 50}"
  )
  .spacer(ng-style="::imagoimage.spacerStyle")

  img.small(ng-src="{{::imagoimage.placeholderUrl}}")
  img.large(ng-src="{{imagoimage.imgUrl}}")

  .prevent-drag(ng-if="!imagoimage.opts.allowDrag")




  //- pre
  //-   | {{imagoimage.opts.sizemode}} {{imagoimage.opts.align}}
  //-   br
  //-   | {{imagoimage.loaded}} {{imagoimage.width}} x {{imagoimage.height}} {{imagoimage.servingSize}}
  //-   br
  //-   | mainSide {{imagoimage.mainSide}}
