.imago-image-content(
  ng-class="[{'loaded': imagoimage.loaded}, imagoimage.opts.align, imagoimage.opts.sizemode, imagoimage.mainSide, {'noplaceholder': !imagoimage.opts.placeholder}]"
  in-view="imagoimage.inview($inview, $inviewpart)"
  in-view-options="{debounce: 10, offsetTop: -100, offsetBottom: 100}"
  )
  .spacer(ng-style="::imagoimage.spacerStyle")

  img.small(ng-src="{{::imagoimage.placeholderUrl}}")
  img.large(ng-src="{{imagoimage.imgUrl}}")

  .prevent-drag(ng-if="!imagoimage.opts.allowDrag")

  //- pre {{imagoimage.visible|json}}
  //- pre
  //-   | {{imagoimage.opts.sizemode}} {{imagoimage.opts.align}}
  //-   br
  //-   | {{imagoimage.loaded}} {{imagoimage.width}} x {{imagoimage.height}} {{imagoimage.servingSize}}
  //-   br
  //-   | mainSide {{imagoimage.mainSide}}
