button.btn.btn-progress
  .progress-bar(
    ng-style="style"
    ng-class="animateClass"
    class="type-{{actionType}}")
  .success-bar(ng-class="animateClass")
  .imago-button-progress-content(ng-transclude)
